/*
*   Dashboard Styles
*/

// monitor area
.monitor-box {
    width: 100%;
    
    // border: solid 1px var(--border-color-primary);
    margin-bottom: 30px;

    .monitor-title {
        margin-bottom: 20px;
        text-align: left;
    }
    
}

.psychometric-box {
    width: 100%;
    // margin-top: 10px;
    // margin-bottom: 25px;

    p, em, label, span {
        width: 100%;
    }

    // h4, span {
    //     font-weight: 500;
    //     color: var(--foreground-tetrary);
    //     margin-bottom: 10px;
    // }

    h3 {
        margin-bottom: 10px;
    }

    span {
        font-size: medium;
    }

    // h3 {
    //     font-weight: 500;;
    //     color: var(--foreground-secondary);
    // }

    @include xs {
        width: 100%;
    }

    .progress-box{
        position: relative;
        label {
            position: absolute;
            top: 60%;
            left: 42%;
            color: var(--foreground-tetrary);
        }
        .circle {
            position: absolute;
            background: radial-gradient(circle, #ffffff10 40%, #b6b6b6);
            border-radius: 50px;
            left: 18%;
            top: 18%;
            width:65%;
            height: 65%;
        }
    }

    .psycho-progress {
        width: 150px;

        @include xs {
            width: 150px;       
        }
    }
}