.program {
    width: 100%;
    padding: 20px 30px;

    @include sm {
        width: 100%;
    }

    @include xs {
        .flex {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span {
                text-align: center;
            }
        }
    }
}

.program-avatar {
    border: solid 1px #FFFFFF50;
    flex-shrink: 0;
}

.program-desc {
    color: var(--foreground--secondary);
    font-weight: 300;
    margin-top: 10px;
}