

/*
*   Recent Program CSS
*/

.recent-board {

    button {
        span .last-message {
            margin-top: 5px;
            display: inline-block;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;  
        
        }
        
        .remove {
            position: absolute;
            top: 10px;
            right: 10px;
            visibility: hidden;

            &:hover {
                color: var(--error-color, #a81d1d)
            }
        }

        &:hover {
            .remove {
                visibility: visible;
            }
        }
    } 
        
}