.user-profile {
    width: 100%;
    max-width: 100%;
    min-width: 100%;

    .user-avatar {
        width: fit-content;
        height: fit-content;
        background-color: var(--background-light);
        flex-shrink: 0;
    }

    .username {
        // width: 120px;
        // flex-shrink: 1;
        flex-grow: 1;
        span {
            width: 120px;
            overflow:hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .profile-menu {
        flex-shrink: 0;
    }

    .logout {
        flex-shrink: 0;
    }

}