.main-container .main-section {

    .chat-content {
        height: calc(100vh - var(--header-height));
        max-height: calc(100vh - var(--header-height));

        // .flex {
        //     height: 100%;
        // }

        .wrapper {
            width: 60%;
            margin: auto;
            @include lg {
                width: 80%;
            }

            @include md {
                width: 100%;
            }
        }

        .chat-area {
            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;
            // padding: 10px 20px;
            flex: 1 1 0%;

            .conversations {
                width: 100%;
                overflow-x: hidden;  

                .conversation {
                    display: block;
                    margin-top: 20px;
                    clear: both;

                    .avatar {
                        // flex: 1 0 0%;
                        width:32px;
                        height: 32px;
                        border-radius: var(--border-radius-full);
                        border: 1px solid var(--background-light);
                        background-color: var(--background-medium);
                    }

                    .message {
                        text-align: left;                            
                        border-radius: 6px;
                        padding: 0.6rem 1rem;

                        ol, ul {
                            padding: 0px 20px;
                            margin-bottom: 20px;
                            color: var(--foreground-secondary);
                            // list-style: disc;
                        }

                    }
                    
                    .user {
                        color: var(--foreground);
                        background: var(--background-message-primary);
                    }

                    .assistant {
                        color: var(--foreground-tetrary);
                        background: var(--background-message-secondary);

                        p {
                            margin-bottom: 20px;
                        }
                        
                        p:last-child {
                            margin-bottom: 0px;
                        }
                    }

                }

                .user {
                    float: right;
                }

                .assistant {
                    float: left;
                    width: 100%;
                }

            }
        }
        .chat-prompts {
            height: fit-content;
            .input-area {
                position: relative;
                .prompt-buttons {
                    position: absolute;
                    right: 4px;
                    top: 4px;
                }

                textarea {
                    max-height: 120px;
                    padding-right: 35px;
                }
            }
        }
    }
}