//
//
// Basic Layout Css
.container {

    header {
        height: var(--header-height);
    }

    .box {
        display: block;
    }

    .wrapper {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .section {
        width: 100%;
        padding: 15px 0px;
    }

    .content {
        width: 100%;
        padding: 15px 5px;
    }    

    .border {
        // border-radius: 12px;
        // color: var(--foreground-tetrary);
        // background: var(--background-message-secondary);
        // padding: 25px 30px;

        padding: 30px 30px;
        border-radius: var(--border-radius-small);
        background: var(--background-message-secondary);
        box-shadow: 1px 1px 3px 1px #00000015;
        overflow: visible;

        @include xxs{
            padding: 0;
            background: none;
            box-shadow: none;
        }
    }
}