//
//
// Basic Layout Css
.container {

    header {
        height: var(--header-height);
    }

    .box {
        display: block;
    }

    .wrapper {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .section {
        padding: 15px 0px;
    }

    .content {
        padding: 15px 0px;
    }    

    .border {
        border-radius: 12px;
    }
}