/*
*   Dashboard Page styles
*/

.main-container .main-section {

    .dashboard-content {
        height: calc(100vh - var(--header-height));
        overflow-x: hidden;
        overflow-y: auto;
        .flex {
            height: 100%;
        }

        .wrapper {
            width: 100%;
            margin: auto;
            margin-top: 40px;
            @include lg {
                width: 100%;
            }

            @include md {
                width: 100%;
            }
        }

        .monitor-box {
            .monitor-title {
                text-align: left;
            }
            .psychometric-box {
                h4, p, em, label {
                    width: 100%;
                }

                h4 {
                    margin-bottom: 10px;
                }

                .progress-box{
                    position: relative;
                    label {
                        position: absolute;
                        top: 65%;
                        left: 42%;
                    }
                }
            }
        }
    }
}