//
//
// Basic Layout Css
.container {
    .full {
        width: 100%;
    }

    header {
        height: var(--header-height);
    }

    .box {
        display: block;
    }

    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section {
        
    }

    .content {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .flex {
        display: flex;
        // flex-wrap: wrap;
        align-items: center;
    }

    .row {
        flex-direction: row;
    }

    .col {
        flex-direction: column;
    }

    .wrap {
        flex-wrap: wrap;
    }
    
    .justify-start {
        justify-content: flex-start;
    }

    .justify-center {
        justify-content: center;
    }

    .justify-end {
        justify-content: flex-end;
    }

    .justify-between {
        justify-content: space-between;
    }

    .items-start {
        align-items: flex-start;
    }

    .items-center {
        align-items: center;
    }

    .items-end {
        align-items: flex-end;
    }

    .gap-0 {
        gap: 0px;
    }

    .gap-1 {
        gap: 1px;
    }

    .gap-2 {
        gap: 2px;
    }        

    .gap-5 {
        gap: 5px;
    }

    .gap-10 {
        gap: 10px;
    }

    .gap-15 {
        gap: 15px;
    }

    .block {
        display: block;
    }

    .border {
        border-radius: 12px;
    }
}


// Default tag's css
input, textarea {
  display: block;
  position: relative;
  width: fit-content;
  min-width: 30px;
  height: 2.5em;
  min-height: 2.5em;
  resize: none;
  outline: none;
  padding: 10px 10px;
  background: none;  
  color: currentcolor;
  border: 1px solid var(--background-middle);
  border-radius: var(--border-radius-small);
  margin: 5px 0%;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    border: 1px solid var(--background-light);
  }
}

button {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:5px;
    padding: 8px 8px;
    
    border-radius: var(--border-radius-small);
    border: 0;
    background: #FFFFFF10;

    &:hover {
        background: #FFFFFF25;
    }
    
}

