:root {
  --max-width: 1100px;
  --header-height: 70px;
  --border-radius-small: 5px;
  --border-radius-medium: 10px;
  --border-radius-full: 50px;
  --font-mono: "Arial", "Inter", 'Roboto Mono', 'Segoe UI Mono','Cascadia Mono'
    , 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --background: #FFFFFF;
  --background-sidebar: #e9e9e9;
  --background-heavy: #b8b7b7;
  --background-medium: #d4d4d4;
  --background-light: #c0c0c0;

  --background-trans-0: none;
  --background-trans-10: #00000010;
  --background-trans-25: #00000025;

  --foreground: #000000;
  --foreground-secondary: #333333;
  --foreground-tetrary: #474747;

  --background-message-primary: #c2ecb4;
  --background-message-secondary: #f3f3f3;

  --border-color-primary: #00000050;
  --border-color-secondary: #FFFFFF10;

  --error-color: #e42a2a;

  --focused-color: #AAD3D3;

}

.dark {
    --background: #313951;
    --background-sidebar: #283046;
    --background-heavy: #283046;
    --background-medium: #4a5165;
    --background-light: #636977;

    --background-trans-0: none;
    --background-trans-10: #FFFFFF10;
    --background-trans-25: #FFFFFF25;

    --foreground: #fff;
    --foreground-secondary: #e2e2e2;
    --foreground-tetrary: #b1b1b1;

    --background-message-primary: #424b69;
    --background-message-secondary: #30384f;

    --border-color-primary: #FFFFFF50;
    --border-color-secondary: #00000010;

    --focused-color: #AAD3D3;
    
    --error-color: #a81d1d;
}

// @import '~bootstrap/scss/bootstrap';
// breakpoints

$xxs: 285px;
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1480px;

@mixin m-xxs {
	@media (max-width:#{$xxs - 1px}) {
		@content;
	}
}

@mixin xxs {
	@media (max-width:#{$xs - 1px}) {
		@content;
	}
}

@mixin xs {
	@media (max-width:#{$sm - 1px}) {
		@content;
	}
}

@mixin sm {
	@media (max-width:#{$md - 1px}) {
		@content;
	}
}

@mixin sm_in {
	@media (min-width:$sm) and (max-width:#{$md - 1px}) {
		@content;
	}
}

@mixin md {
	@media (max-width:#{$lg - 1px}) {
		@content;
	}
}

@mixin md_in {
	@media (min-width:$md) and (max-width:#{$lg - 1px}) {
		@content;
	}
}

@mixin lg {
	@media (max-width:#{$xl - 1px}) {
		@content;
	}
}

@mixin lg_in {
	@media (min-width:$lg) and (max-width:#{$xl - 1px}) {
		@content;
	}
}

@mixin lg_up {
	@media (min-width: $lg) {
		@content;
	}
}

@mixin xl {
	@media (max-width:#{$xxl - 1px}) {
		@content;
	}
}

@mixin xl_in {
	@media (min-width:$xl) and (max-width:#{$xxl - 1px}) {
		@content;
	}
}

@mixin xxl {
	@media (min-width: $xxl) {
		@content;
	}
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // transition: all 0.3s;
}

// Custom scroll styles

::-webkit-scrollbar {
	width: 5px !important;
	height: 8px !important;
	background-color: transparent;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	background-color: #ffffff10;
	border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: #ffffff25;
  }  
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

// Custom default styles

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mono);
}

h1, h2, h3 {
  text-align: center;
  line-height: 150%;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.12745098);
}

a {
  font-size: medium;
  color: inherit;
  text-decoration: none;
  
  &:hover {
    color: var(--foreground);
    text-decoration:underline;
  }
}

p {
  font-size: medium;
  text-align: left;
  line-height: 150%;
  color: var(--foreground-secondary);
}

label, span {
  font-size: small;
  text-align: left;
  color: var(--foreground-tetrary)
}

pre {
  // background: var(--background-heavy);
  // margin: 10px 0px;
  // padding: 10px 10px;
  // border-radius: var(--border-radius-small);
  code {
    text-wrap: wrap;  
  }
}

ol, ul {
  // margin: 15px 20px;
  // list-style: none;
  li {
    margin: 5px 0px;
    line-height: 150%;
  }
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid var(--border-color-secondary);
  margin: 20px 0px;
}

@import "./ui.scss";
@import "./widgets/index.scss";

@import "./container.scss";
@import "./layout.scss";

// main styles
@import "./main.scss";

// page styles
@import "./homepage.scss";
@import "./chatpage.scss";
@import "./dashboardpage.scss";
@import "./testpage.scss"