:root {
  --max-width: 1100px;
  --header-height: 70px;
  --border-radius-small: 5px;
  --border-radius-medium: 10px;
  --border-radius-full: 50px;
  --font-mono: Roboto, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground: #000000;
  --background: #FFFFFF;
  --background-secondary: #b6b6b6;
  --background-middle: #b6b6b6;

  --background-message-primary: 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #e2e2e2;
    --background: #313951;
    --background-secondary: #283046;
    --background-middle: #4a5165;
    --background-light: #5b688a;

    --background-message-primary: #424b69;
    --background-message-secondary: #30384f;

    --text-primary: #fff;
    --text-secondary: #84898d;
    --text-medium: #bcbfc3;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
	width: 5px !important;
	height: 8px !important;
	background-color: transparent;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	background-color: #ffffff10;
	border-radius: 8px;
  &:hover {
    background-color: #ffffff25;
  }  
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mono);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 150%;
}

input, textarea {
  font-family: inherit;
  color: inherit;
  line-height: 130%;
  letter-spacing: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@import "./default.scss";

// page styles
@import "./chatpage.scss";

// component styles
@import "./components/widgets/index.scss";
