:root {
  --max-width: 1100px;
  --header-height: 70px;
  --border-radius-small: 5px;
  --border-radius-medium: 10px;
  --border-radius-full: 50px;
  --font-mono: "Inter", 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --background: #FFFFFF;
  --background-sidebar: #e9e9e9;
  --background-heavy: #b8b7b7;
  --background-medium: #d4d4d4;
  --background-light: #e9e9e9;

  --background-trans-0: none;
  --background-trans-10: #00000010;
  --background-trans-25: #00000025;

  --foreground: #000000;
  --foreground--secondary: #242424;
  --foreground--tetrary: #474747;

  --background-message-primary: #c2ecb4;
  --background-message-secondary: #f3f3f3;


}

.dark {
    --background: #313951;
    --background-sidebar: #283046;
    --background-heavy: #283046;
    --background-medium: #4a5165;
    --background-light: #5b688a;

    --background-trans-0: none;
    --background-trans-10: #FFFFFF10;
    --background-trans-25: #FFFFFF25;

    --foreground: #fff;
    --foreground--secondary: #84898d;
    --foreground--tetrary: #bcbfc3;

    --background-message-primary: #424b69;
    --background-message-secondary: #30384f;
}


// breakpoints

$xxs: 285px;
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1480px;

@mixin m-xxs {
	@media (max-width:#{$xxs - 1px}) {
		@content;
	}
}

@mixin xxs {
	@media (max-width:#{$xs - 1px}) {
		@content;
	}
}

@mixin xs {
	@media (max-width:#{$sm - 1px}) {
		@content;
	}
}

@mixin sm {
	@media (max-width:#{$md - 1px}) {
		@content;
	}
}

@mixin sm_in {
	@media (min-width:$sm) and (max-width:#{$md - 1px}) {
		@content;
	}
}

@mixin md {
	@media (max-width:#{$lg - 1px}) {
		@content;
	}
}

@mixin md_in {
	@media (min-width:$md) and (max-width:#{$lg - 1px}) {
		@content;
	}
}

@mixin lg {
	@media (max-width:#{$xl - 1px}) {
		@content;
	}
}

@mixin lg_in {
	@media (min-width:$lg) and (max-width:#{$xl - 1px}) {
		@content;
	}
}

@mixin lg_up {
	@media (min-width: $lg) {
		@content;
	}
}

@mixin xl {
	@media (max-width:#{$xxl - 1px}) {
		@content;
	}
}

@mixin xl_in {
	@media (min-width:$xl) and (max-width:#{$xxl - 1px}) {
		@content;
	}
}

@mixin xxl {
	@media (min-width: $xxl) {
		@content;
	}
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.2s;
  animation: fadeIn 1s ease-in-out forwards;
}

// Custom scroll styles

::-webkit-scrollbar {
	width: 5px !important;
	height: 8px !important;
	background-color: transparent;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	background-color: #ffffff10;
	border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: #ffffff25;
  }  
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

// Custom default styles

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mono);
}

a {
  font-size: medium;
  color: inherit;
  text-decoration: none;
  
  &:hover {
    color: var(--foreground);
    text-decoration:underline;
  }
}

p {
  font-size: medium;
  text-align: left;
  line-height: 150%;
  color: var(--foreground--tetrary);
}

label, span {
  font-size: small;
}

pre {
  background: var(--background-heavy);
  margin: 10px 0px;
  padding: 10px 20px;
  border-radius: var(--border-radius-small);
  code {
    background: inherit;
    text-wrap: wrap;  
  }
}

ol {
  margin: 10px 20px;

  li {
    margin: 5px 0px;
    line-height: 150%;
  }
}

input, textarea {
  font-size: 16px;
  font-family: inherit;
  color: inherit;
  line-height: 110%;
  letter-spacing: inherit;
}

// Default tag's css
input, textarea {
  display: block;
  position: relative;
  width: fit-content;
  min-width: 30px;
  height: 2.5em;
  min-height: 2.5em;
  resize: none;
  outline: none;
  padding: 10px 10px;
  background: none;  
  color: currentcolor;
  border: 1px solid var(--background-medium);
  border-radius: var(--border-radius-small);
  margin: 5px 0%;
  -webkit-tap-highlight-color: transparent;
  
  &:focus {
      border: 1px solid var(--background-light);
  }
}
    
button {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:5px;
    padding: 8px 8px;
    
    border-radius: var(--border-radius-small);
    border: 0;
    background: var(--background-trans-10);

    &:hover {
        background: var(--background-trans-25)
    }
    
}

@import "./container.scss";

// main styles
@import "./main.scss";

// page styles
@import "./chatpage.scss";

// component styles
@import "./components/widgets/index.scss";
@import "./components/ui-components/index.scss";
@import "./components/features/index.scss"
