.main-container .main-section {

    .home-content {
        height: calc(100vh - var(--header-height));
        overflow-x: hidden;
        overflow-y: auto;
        .flex {
            height: 100%;
        }

        .wrapper {
            width: 60%;
            margin: auto;
            margin-top: 40px;
            @include lg {
                width: 80%;
            }

            @include md {
                width: 100%;
            }

            .mood-scale {
                width: 233px;
                height: 217px;
                flex-shrink: 0;
            }
        }
    }
}