.main-container .main-section {

    .home-content {
        height: calc(100vh - var(--header-height));
        overflow-x: hidden;
        overflow-y: auto;

        .unauthedhome {
            margin: auto;
            height: 100%;
            width: 300px;
            button {
                padding: 10px;
                border-radius: 50px;
                border: solid 1px var(--foreground-tetrary);
                width: 240px;
            }

            @include xs {
                width: 280px;
            }

        }
        .flex {
            // height: 100%;
        }

        .wrapper {
            width: 60%;
            // height: 100%;
            margin: auto;
            // margin-top: 40px;
            @include lg {
                width: 80%;
            }

            .home-header {
                margin-bottom: 20px;
                .page-title {
                    text-align: center;
                }
            }

            @include md {
                width: 100%;
            }

            .home-shortcut {
                width: 30%;
                margin-top: 20px;
                h4 {
                    margin-bottom: 10px;
                }

                h4, p  {
                    text-align: center;
                }

                @include xxs {
                    width: 80%;
                    margin: auto;
                }
            }
        }
    }
}