/*  ////////////////////////////////////////////////////////
*   Main Styles
*/  ////////////////////////////////////////////////////////

// Main Layout
.main-container {
    width: 100vw;
    height: 100vh;     

    .main-section {
        width: 100%;
        height: 100vh;
        min-width: 280px;
        min-height: 300px;
        position: relative;

        .main-nav {
            
        }
    }
}



// Navbar Styles
.nav {
    width: 100%;
    height: var(--header-height);

    .flex {
        height: 100%;
    }

    .side-toggle {
        display: none;
        @include md {
            display: block;
        }
    }
}

.main-nav {
    // box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px -1px, rgba(0, 0, 0, 0.04) 0px 0px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.sb-avatar {
    margin-top: 1px;
    span {
        text-align: center;
        font-weight: bold;
        color: #FFFFFFEE;
    }
}