.main-container .main-section {

    .test-content {
        height: calc(100vh - var(--header-height));
        overflow-x: hidden;
        overflow-y: auto;

        // .flex {
        //     height: 100%;
        // }

        .wrapper {
            width: 60%;
            margin: auto;
            @include lg {
                width: 80%;
            }

            @include md {
                width: 100%;
            }

            .test-area {
                overflow-y: auto;
                overflow-x: hidden;
                width: 100%;
                // padding: 10px 20px;
                flex: 1 1 0%;
    
                .markdonw-box {
                    height: 80vh;
    
                    @include xs {
                        padding: 10px 10px;
                    }

                    .scroll-box {
                        flex: 1 1;
                        overflow-x: hidden;
                        overflow-y: auto;
                    }
    
                    p {
                        margin-bottom: 20px;
                    }
                    
                    p:last-child {
                        margin-bottom: 0px;
                    }

                    border-radius: 6px;

                }
                .tool-box {
                    margin-top: 20px;
                    border-radius: 6px;
                    padding: 15px 30px;
                }
            }

            
        }

        
        
    }
}