
/*
*   Button Styles
*/
button {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:5px;
    padding: 8px 8px;
    
    border-radius: var(--border-radius-small);
    border: 0;
    background: var(--background-trans-10);

    &:hover {
        background: var(--background-trans-25)
    }
    
}

.button {
    .button-text {
        font-weight: bold;
    }
}

/*
*   Button Group Styles
*/
.button-group {
    .group-name {
        margin-bottom: 10px;
    }
}

/*
*   Input, Textarea
*/
// Default tag's css
input, textarea {
    display: block;
    position: relative;
    width: fit-content;
    min-width: 30px;
    height: 2.5em;
    min-height: 2.3em;
    resize: none;
    outline: none;
    padding: 10px 10px;
    background: none;  
    color: currentcolor;
    border: 1px solid var(--background-medium);
    border-radius: var(--border-radius-small);
    margin: 5px 0%;
    -webkit-tap-highlight-color: transparent;
    
    &:focus {
        border: 1px solid var(--background-light);
    }
  }

/*
*     Dropdown Menu
*/

.dropdown-trigger-button {
    position: relative;
}

.floating-base {
    z-index: 10;
    width: fit-content;
    border-radius: var(--border-radius-small);
    background: var(--background-medium);
    box-shadow: 1px 2px 3px #666666;
    border: solid 1px var(--background-light);

    .dropdown-content {
        padding-top: 1px;
        padding-bottom: 1px;
    }

    ul {
        padding: 2px 5px;

        button {
            background: transparent;
            width: 100%;
            cursor: default;
            &:not(:disabled):hover {
                background-color: var(--background-trans-25);
                cursor: pointer
            }
        }
    }
}

.floating-animation {
    transition:cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.floating-hidden {
    opacity: 0;
    visibility: hidden;
}

.inline-wrapper {
    display: flex;
    align-items: center;
}

.divider {
    margin: 1px 0px;
    height: 1px;
    background: var(--background-light);
}

