
/*
*   Button Styles
*/
button {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:5px;
    padding: 8px 8px;
    
    border-radius: var(--border-radius-small);
    border: 0;
    background: var(--background-trans-10);

    &:hover {
        background: var(--background-trans-25)
    }
    
}

.button {
    .button-text {
        font-weight: bold;
    }
}

/*
*   Button Group Styles
*/
.button-group {
    .group-name {
        color: var(--foreground--secondary);
        margin-bottom: 10px;
    }
}

/*
*   Input, Textarea
*/
// Default tag's css
input, textarea {
    display: block;
    position: relative;
    width: fit-content;
    min-width: 30px;
    height: 2.5em;
    min-height: 2.3em;
    resize: none;
    outline: none;
    padding: 10px 10px;
    background: none;  
    color: currentcolor;
    border: 1px solid var(--background-medium);
    border-radius: var(--border-radius-small);
    margin: 5px 0%;
    -webkit-tap-highlight-color: transparent;
    
    &:focus {
        border: 1px solid var(--background-light);
    }
  }